In [32]:
import pandas as pd
import numpy as np
import os
import shapely
from shapely.geometry import Point, Polygon
import geopandas as gpd

In [33]:
#load datasets
air_locations = pd.read_csv("D:\\Data projects\\Air pollution Madrid\\data\\locations\\air_quality_locations.csv",sep=";")
meteo_locations = pd.read_csv("D:\\Data projects\\Air pollution Madrid\\data\\locations\\meteo_locations.csv",sep=";")
traffic_locations_may = pd.read_excel("D:\\Data projects\\Air pollution Madrid\\data\\locations\\traffic_locations_0524.xlsx")
traffic_locations_april = pd.read_excel("D:\\Data projects\\Air pollution Madrid\\data\\locations\\traffic_locations_0424.xlsx")

In [34]:
traffic_locations_april

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud
0,URB,4.0,3840,01001,Jose Ortega y Gasset E-O - Pº Castellana-Serrano,441615.343347,4.475768e+06,-3.688323,40.430502
1,URB,4.0,3841,01002,Jose Ortega y Gasset O-E - Serrano-Pº Castellana,441705.882340,4.475770e+06,-3.687256,40.430524
2,URB,1.0,3842,01003,Pº Recoletos N-S - Almirante-Prim,441319.371258,4.474841e+06,-3.691727,40.422132
3,URB,4.0,3843,01004,Pº Recoletos S-N - Pl. Cibeles- Recoletos,441301.632986,4.474764e+06,-3.691929,40.421433
4,URB,4.0,3844,01005,(AFOROS) Pº Castellana S-N - Eduardo Dato - P...,441605.765072,4.476132e+06,-3.688470,40.433782
...,...,...,...,...,...,...,...,...,...
4916,M30,16.0,6809,PM43201,PM43201,444065.316510,4.481586e+06,-3.659954,40.483080
4917,M30,16.0,6810,PM43202,PM43202,444067.760453,4.481594e+06,-3.659926,40.483158
4918,M30,16.0,6933,PM43221,PM43221,443003.125903,4.481709e+06,-3.672497,40.484118
4919,M30,16.0,7129,PM43222,PM43222,443002.925186,4.481716e+06,-3.672500,40.484181
4920,M30,16.0,7015,PM43223,PM43223,443019.864262,4.481807e+06,-3.672308,40.485002

In [39]:
#rename columns
meteo_locations = meteo_locations.rename(columns={'CÓDIGO': 'ID', 'CÓDIGO CORTO': 'ID CORTO'})
air_locations = air_locations.rename(columns={'CODIGO': 'ID', 'CÓDIGO CORTO': 'ID CORTO'})
traffic_locations_may = traffic_locations_may.rename(columns= {"id":"ID","longitud": "LONGITUD","latitud":"LATITUD"})
traffic_locations_april = traffic_locations_april.rename(columns= {"id":"ID","longitud": "LONGITUD","latitud":"LATITUD"})

#filter columns

df_list= [meteo_locations, traffic_locations_may,traffic_locations_april, air_locations]
col_to_keep = ["ID","LATITUD", "LONGITUD"]

for i, df in enumerate(df_list):
    df_list[i] = df[[col for col in col_to_keep if col in df.columns]]

#reassign names to modified datasets
meteo_locations, traffic_locations_may,traffic_locations_april, air_locations = df_list[0] , df_list[1], df_list[2] , df_list[3]


air_locations

          ID    LATITUD  LONGITUD
0   28079004  40.423882 -3.712257
1   28079008  40.421553 -3.682316
2   28079011  40.451473 -3.677349
3   28079016  40.440046 -3.639242
4   28079017  40.347147 -3.713317
5   28079018  40.394782 -3.731836
6   28079024  40.419358 -3.747345
7   28079027  40.476918 -3.580026
8   28079035  40.419209 -3.703166
9   28079036  40.407952 -3.645310
10  28079038  40.445544 -3.707130
11  28079039  40.478232 -3.711536
12  28079040  40.388148 -3.651529
13  28079047  40.398099 -3.686814
14  28079048  40.439890 -3.690373
15  28079049  40.414444 -3.682500
16  28079050  40.465584 -3.688745
17  28079054  40.373012 -3.612139
18  28079055  40.462363 -3.580565
19  28079056  40.385034 -3.718768
20  28079057  40.494201 -3.660517
21  28079058  40.518070 -3.774610
22  28079059  40.460726 -3.616341
23  28079060  40.500548 -3.689731

In [36]:
# Save the modified DataFrames to CSV files
folder = "D:\\Data projects\\Air pollution Madrid\\data\\locations"
meteo_locations.to_csv(os.path.join(folder,'meteo_locations_modified.csv'), index=False)
traffic_locations_april.to_csv(os.path.join(folder,'traffic_locations_april_modified.csv'), index=False)
traffic_locations_may.to_csv(os.path.join(folder,'traffic_locations_may_modified.csv'), index=False)
air_locations.to_csv(os.path.join(folder,'air_locations_modified.csv'), index=False)

# Print confirmation
print("DataFrames have been saved to CSV files.")

DataFrames have been saved to CSV files.